/* ---- Global styles ---- */

/* CSS Reset */
* {
    box-sizing: border-box;
}

/* Body styles. DO NOT REMOVE OR EDIT UNLESS ABSOLUTELY NECESSARY */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 0;
    margin: 0;
    color: #333;
    padding-top: 30px;
}

/* Disclaimer styles. DO NOT REMOVE OR EDIT UNLESS ABSOLUTELY NECESSARY */
.disclaimer {
    grid-area: disclaimer;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 0.5rem;
    z-index: 1000;
    font-weight: bold;
    height: 30px;
}



/* ---- Your custom styles below ---- */
* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    display: grid;
    grid-template-areas:
    "disclaimer"
    "header"
    "content"
    "footer";
    grid-template-rows: auto 1fr;
    height: 100vh;
    background-color: #e0f7fa;

}

.header {
  display: grid;
  text-align: center;
  margin-bottom: 20px;
  font-size: 70px;
  background-color: #bef0ff;
  flex-wrap: wrap;
}

.content {
    grid-area: content;
    text-align: center;
}

form  {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 20px;
}

label {
  margin-bottom: 10px;
  font-weight: bold;
  text-align: center;
}

footer {
    grid-area: footer;
    text-align: center;
    padding: 10px;
    background-color:  #bef0ff;
    margin-top: 20px;
}

.section {
    background-color: #ffffff;
    padding: 20px;
    margin: 20px;
    border-radius: 90px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
}